# ============================
# Node.js / Backend (pokemon-backend)
# ============================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*

# Banco de dados
*.db
*.sqlite

# ============================
# React Native / Expo (primeiro-app)
# ============================

.expo/
.expo-shared/
android/
ios/
*.apk
*.aab
*.ipa

# Dependências
primeiro-app/node_modules/

# ============================
# Sistema Operacional
# ============================

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# ============================
# IDEs / Editores
# ============================

.vscode/
.idea/
